@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf"),
       url("../fonts/OpenSans-Regular.woff"),
       url("../fonts/OpenSans-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Bold.ttf"),
       url("../fonts/OpenSans-Bold.woff"),
       url("../fonts/OpenSans-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

body {
  min-width: 320px;
  margin: 0;
}


/* General rules for header */


.header, .footer {
  position: relative;

  background-color: #0a0e34;
}

.header::after, .footer::after {
  content: "";
  position: absolute;
  z-index: 0;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  opacity: 0.1;
}

.logo-container, .basement-logo-box {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: center;
}

.header-logo-link, .mobile-store-link {
  text-decoration: none;
}

.tagline-container {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;

  letter-spacing: 0.05em;
  line-height: 1em;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: bold;

  color: #ffffff;
  text-transform: uppercase;
}

.mobile-stores-container, .basement-buttons {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: center;
}

.button-group {
  display: flex;
  align-items: center;

  background-color: #5e42b0;
}

.button-text-group {
  display: flex;
  flex-direction: column;
}

.button-text {
  letter-spacing: 0.05em;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: normal;

  color: #ffffff;
  text-transform: uppercase;
}

.name-store {
  font-weight: bold;
}


/* General rules for main */


/* General rules for main Part_1 */

.participants-group {
  position: relative;
  z-index: 0;
}

.participants-group::before {
  content: "";
  position: absolute;
  z-index: 1;

  background-repeat: no-repeat;
}

.participants-group::after {
  content: "";
  position: absolute;
  z-index: 1;

  background-repeat: no-repeat;
}

.first-participant-card, .second-participant-card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

.first-participant-image, .second-participant-image {
  position: absolute;
  z-index: 1;
}

.a-title-box {
  display: flex;
  justify-content: flex-end;
}

.a-box {
  display: flex;
  justify-content: flex-end;
}

.a-text, .p-text {
  display: flex;
  flex-direction: column;
}

.a-card-title, .p-card-title, .action-title {
  margin: 0;

  font-family: OpenSans, Arial, sans-serif;
  font-weight: bold;

  color: #e7e7e7;
  text-transform: uppercase;
}

.collaboration-box {
  background-color: #5e42b00f;
}

.growth-box {
  background-color: #5e42b0;
}

.name-index-box {
  display: flex;
  align-items: center;
}

.quantity-index, .p-quantity-index {
  letter-spacing: 0.05em;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: bold;
}

.connection-index, .collaboration-index {
  color: #000000;
}

.growth-index {
  color: #0a0e34;
}

.quantity-index::after, .p-quantity-index::after {
  content: "";
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.connection-index::after, .collaboration-index::after {
  background-color: #5e42b0;
}

.growth-index::after {
  background-color: #efefef;
}

.feature-name {
  margin: 0;

  letter-spacing: 0.05em;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: bold;

  color: #c1c1c1;
  text-transform: uppercase;
}

.feature-text, .action-description {
  margin: 0;

  letter-spacing: 0.05em;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: normal;
}

.connection-description, .collaboration-description, .action-description {
  color: #000000;
}

.growth-description {
  color: #ffffff;
}

.p-title-box {
  display: flex;
  justify-content: flex-start;
}

.p-box {
  display: flex;
  justify-content: flex-start;
}

.p-collaboration-box {
  background-color: #0a0e340a;
}

.p-growth-box {
  background-color: #0a0e34;
}

.p-connection-index, .p-collaboration-index {
  color: #000000;
}

.p-growth-index {
  color: #9173e6;
}

.p-connection-index::after, .p-collaboration-index::after {
  background-color: #5e42b0;
}

.p-growth-index::after {
  background-color: #efefef;
}

/* General rules for main Part_2 */

.action-cards-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style-type: none;
}

.action-card-item {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

.action-index-box {
  position: absolute;
  z-index: 1;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #5e42b0;
}

.action-index {
  margin: 0;

  letter-spacing: 0.05em;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: bold;

  color: #f5f6f7;
}

.action-index::after {
  content: "";
  display: block;
  margin-right: auto;
  margin-left: auto;

  background-color: #ffffff;
  opacity: 0.3;
}


/* General rules for footer */


.download-container {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.77vw;
  height: 7.13vw;

  background: linear-gradient(#7751db 0%, #5e3db3 51%, #50329c 100%);
}

.surface-logo-icon {
  width: 5.52vw;
}

.footer-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-title {
  margin: 0;

  letter-spacing: 0.05em;
  line-height: 1em;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: bold;

  color: #ffffff;
  text-transform: uppercase;
}

.footer-tagline {
  margin: 0;

  letter-spacing: 0.05em;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: normal;

  color: #a496ca;
  text-transform: uppercase;
}


/* Screen resolutions for flexible background */


@media (min-width: 769px) and (max-width: 960px) {
  .action-card-item {
    padding-top: 87.89vw;

    background-size: contain;
  }
}


/* Rules for mobile */


@media (max-width: 640px) {

  /* Rules for header mobile */

  .header {
    padding-top: 10.31vw;
    padding-bottom: 26.25vw;
  }

  .header::after {
    background-image: url("../img/football_767.jpg");
  }

  .surface-logo-text-icon {
    width: 41.56vw;
    height: 11.25vw;
  }

  .tagline-container {
    width: 90.62vw;
    margin-top: 42.5vw;

    font-size: 8.75vw;
  }

  .phrase-2 {
    margin-top: 2vw;
    margin-left: 14.5vw;
  }

  .mobile-stores-container {
    flex-direction: column;
    align-items: center;
    margin-top: 27.81vw;
  }

  .button-group {
    box-sizing: border-box;
    width: 87.5vw;
    height: 10.93vw;
    padding-left: 25.6vw;

    border-radius: 5vw;
  }

  .appstore-group {
    margin-bottom: 4.37vw;
  }

  .appstore-icon {
    width: 6.25vw;
    height: 7.5vw;
    margin-right: 2.81vw;
  }

  .googleplay-icon {
    width: 6.87vw;
    height: 7.5vw;
    margin-right: 2.18vw;
  }

  .button-text {
    font-size: 2.5vw;
    line-height: 2.5vw;
  }

  .name-store {
    margin-top: 1.25vw;
  }

  /* Rules for main mobile Part_1 */

  .first-participant-card, .second-participant-card {
    padding-top: 3.3vw;
  }

  .first-participant-image {
    top: 28vw;
    left: 22.18vw;
  }

  .footballer-pic {
    width: 60vw;
  }

  .a-title-box, .p-title-box {
    display: flex;
    justify-content: flex-start;

    margin-left: 6.56vw;
  }

  .a-title-box {
    margin-bottom: 73.56vw;
  }

  .a-box, .p-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 6.25vw;
  }

  .a-text, .p-text {
    width: 85.62vw;
  }

  .a-card-title, .p-card-title {
    font-size: 15.62vw;
  }

  .connection-box, .p-connection-box {
    background-color: #fafafa;
  }

  .connection-box {
    box-sizing: border-box;
    padding-top: 25.93vw;
    padding-bottom: 17.18vw;
  }

  .collaboration-box, .growth-box {
    padding-top: 18.75vw;
    padding-bottom: 17.18vw;
  }

  .quantity-index, .p-quantity-index {
    font-size: 4.37vw;
  }

  .quantity-index::after, .p-quantity-index::after {
    width: 5vw;
    height: 1.25vw;

    border-radius: 0.46vw;
  }

  .feature-name {
    margin-left: 2.5vw;

    font-size: 7.18vw;
  }

  .feature-text {
    margin-top: 8.75vw;

    font-size: 4.68vw;
  }

  .second-participant-image {
    top: 27vw;
    left: 3.12vw;
  }

  .basketballer-pic {
    width: 94.37vw;
  }

  .p-title-box {
    margin-bottom: 72.1vw;
  }

  .p-connection-box {
    padding-top: 25.93vw;
    padding-bottom: 17.81vw;
  }

  .p-collaboration-box {
    padding-top: 18.75vw;
    padding-bottom: 17.81vw;
  }

  .p-growth-box {
    padding-top: 17.81vw;
    padding-bottom: 17.81vw;
  }

  /* Rules for main mobile Part_2 */

  .action-card-image-block {
    height: 109.68vw;
  }

  .action-card-pic {
    height: inherit;
  }

  .action-index-box {
    width: 21.87vw;
    height: 21.87vw;
    margin-top: 91.56vw;
    margin-left: 6.25vw;
  }

  .action-index {
    font-size: 4.37vw;
  }

  .action-index::after {
    width: 4.68vw;
    height: 1.25vw;

    border-radius: 0.46vw;
  }

  .action-text-block {
    width: 86.25vw;
    padding-top: 10.62vw;
    padding-bottom: 25.31vw;
    padding-left: 5.93vw;
  }

  .action-title {
    font-size: 8.75vw;
  }

  .action-description {
    margin-top: 7.18vw;

    font-size: 5vw;
  }

  /* Rules for footer mobile */
  .footer {
    padding-top: 30.93vw;
    padding-bottom: 3.12vw;
  }

  .footer::after {
    background-image: url("../img/game_767.jpg");
  }

  .footer-logo-container {
    width: 22.5vw;
    height: 23.12vw;

    border-radius: 4.37vw;
  }

  .surface-logo-icon {
    width: 18.75vw;
  }

  .footer-text-box {
    margin-top: 18.43vw;
  }

  .footer-title {
    font-size: 10vw;
  }

  .footer-tagline {
    margin-top: 4.06vw;

    font-size: 4.37vw;
  }

  .basement-buttons {
    flex-direction: column;
    align-items: center;
    margin-top: 23.75vw;
    margin-bottom: 25.62vw;
  }

  .basement-appstore-group {
    margin-bottom: 4.37vw;
  }
}


/* Rules for tablet */


@media (min-width: 641px) and (max-width: 960px) {

  /* Rules for header tablet */

  .header {
    padding-top: 5.07vw;
    padding-bottom: 11.84vw;
  }

  .header::after {
    background-image: url("../img/football_1280.jpg");
  }

  .surface-logo-text-icon {
    width: 26.69vw;
    height: 7.29vw;
  }

  .tagline-container {
    width: 77.21vw;
    margin-top: 23.7vw;

    font-size: 8.33vw;
  }

  .phrase-2 {
    margin-top: 4.16vw;
    margin-left: 12.45vw;
  }

  .mobile-stores-container {
    margin-top: 40.75vw;
  }

  .button-group {
    width: 40.5vw;
    height: 10.02vw;
    justify-content: center;

    border-radius: 4.42vw;

    box-shadow: 0 2.08vw 3.12vw 0 rgba(10, 14, 52, 1);
  }

  .appstore-group {
    margin-right: 3.9vw;
  }

  .appstore-icon {
    width: 4.68vw;
    height: 5.46vw;
    margin-right: 3.51vw;
  }

  .googleplay-icon {
    width: 5.33vw;
    height: 5.85vw;
    margin-right: 3.64vw;
  }

  .button-text {
    font-size: 1.82vw;
    line-height: 1em;
  }

  .name-store {
    margin-top: 0.78vw;
  }

/* Rules for main tablet Part_1 */

  .first-participant-card, .second-participant-card {
    padding-top: 8.5vw;
  }

  .first-participant-image {
    top: 12.23vw;
    left: -21vw;
  }

  .footballer-pic {
    width: 64.71vw;
  }

  .a-title-box {
    margin-right: 17.7vw;
    margin-bottom: 3.71vw;
  }

  .a-box {
    padding-right: 4.29vw;
  }

  .a-text {
    width: 57.68vw;
  }

  .a-card-title, .p-card-title, .action-title {
    font-size: 10.41vw;
  }

  .connection-box {
    padding-bottom: 3.5vw;
  }

  .collaboration-box, .p-collaboration-box {
    padding-top: 5.2vw;
    padding-bottom: 5.33vw;
  }

  .growth-box {
    padding-top: 5.33vw;
    padding-bottom: 5.2vw;
  }

  .quantity-index, .p-quantity-index {
    font-size: 2.34vw;
  }

  .quantity-index::after, .p-quantity-index::after {
    width: 2.47vw;
    height: 0.65vw;

    border-radius: 0.26vw;
  }

  .feature-name {
    margin-left: 1.69vw;

    font-size: 4.16vw;
  }

  .feature-text {
    margin-top: 1.7vw;

    font-size: 2.08vw;
    line-height: 3.64vw;
  }

  .second-participant-image {
    top: 5vw;
    right: 0;
  }

  .basketballer-pic {
    width: 56.77vw;
  }

  .p-title-box {
    margin-left: 4.42vw;
    margin-bottom: 3vw;
  }

  .p-box {
    padding-left: 4.16vw;
  }

  .p-text {
    width: 51vw;
  }

  .p-connection-box {
    padding-bottom: 3.2vw;
  }

  .p-growth-box {
    padding-top: 5.46vw;
    padding-bottom: 5.2vw;
  }

  /* Rules for main tablet Part_2 */

  .action-card-image-block {
    height: 76.04vw;
  }

  .action-card-pic {
    height: inherit;
  }

  .action-index-box {
    width: 15.10vw;
    height: 15.10vw;
    margin-top: 65.62vw;
    margin-left: 4.29vw;
  }

  .action-index {
    font-size: 3.12vw;
  }

  .action-index::after {
    width: 3.25vw;
    height: 0.65vw;

    border-radius: 0.26vw;
  }

  .action-text-block {
    width: 86.45vw;
    padding-top: 9.5vw;
    padding-left: 4.16vw;
    padding-bottom: 13.41vw;
  }

  .action-description {
    margin-top: 1vw;

    font-size: 3.12vw;
  }

/* Rules for footer tablet */

  .footer {
    padding-top: 16.4vw;
    padding-bottom: 2.99vw;
  }

  .footer::after {
    background-image: url("../img/game_1280.jpg");
  }

  .footer-logo-container {
    width: 16.92vw;
    height: 17.83vw;

    border-radius: 4.81vw;
  }

  .surface-logo-icon {
    width: 13.8vw;
  }

  .footer-text-box {
    margin-top: 10.67vw;
  }

  .footer-title {
    font-size: 10.41vw;
    letter-spacing: 0.055em;
  }

  .footer-tagline {
    margin-top: 3.64vw;

    font-size: 4.68vw;
  }

  .basement-buttons {
    margin-top: 37.5vw;
    margin-bottom: 7.16vw;
  }
}


/* Rules for desktop */


@media (min-width: 961px) and (max-width: 1920px) {

  /* Rules for header desktop */

  .header {
    padding-top: 2.34vw;
    padding-bottom: 5.72vw;
  }

  .surface-logo-text-icon {
    width: 9.94vw;
    height: 2.7vw;
  }

  .tagline-container {
    width: 80.3vw;
    margin-top: 14.5vw;

    font-size: 4.69vw;
  }

  .mobile-stores-container {
    margin-top: 11.61vw;
  }

  .button-group {
    width: 16.19vw;
    height: 4.01vw;
    justify-content: center;

    border-radius: 1.87vw;

    box-shadow: 0 0.83vw 1.25vw 0 rgba(10, 14, 52, 1);
  }

  .appstore-group {
    margin-right: 2.55vw;
  }

  .appstore-icon {
    width: 2.18vw;
    height: 2.5vw;
    margin-right: 1.3vw;
  }

  .googleplay-icon {
    width: 2.08vw;
    height: 2.6vw;
    margin-right: 1.45vw;
  }

  .button-text {
    font-size: 0.72vw;
    line-height: 0.72vw;
  }

  .name-store {
    margin-top: 0.31vw;
  }

/* Rules for main desktop Part_1*/

  .first-participant-card, .second-participant-card {
    padding-top: 4.5vw;
  }

  .first-participant-image {
    top: 1.4vw;
    left: 20.46vw;
  }

  .footballer-pic {
    width: 29.47vw;
  }

  .a-title-box {
    margin-right: 29.6vw;
    margin-bottom: 4vw;
  }

  .a-box {
    padding-right: 10.36vw;
  }

  .a-text {
    width: 37.13vw;
  }

  .a-card-title, .p-card-title, .action-title {
    font-size: 4.16vw;
  }

  .connection-box {
    padding-bottom: 3.07vw;
  }

  .collaboration-box, .growth-box, .p-growth-box {
    padding-top: 2.05vw;
    padding-bottom: 2.05vw;
  }

  .quantity-index, .p-quantity-index {
    font-size: 0.93vw;
  }

  .quantity-index::after, .p-quantity-index::after {
    width: 1.09vw;
    height: 0.26vw;

    border-radius: 0.1vw;
  }

  .feature-name {
    margin-left: 0.72vw;

    font-size: 1.87vw;
  }

  .feature-text {
    margin-top: 1.56vw;

    font-size: 1.04vw;
  }

  .second-participant-image {
    top: 1.4vw;
    left: 42.13vw;
  }

  .basketballer-pic {
    width: 51.61vw;
  }

  .p-title-box {
    margin-left: 10vw;
    margin-bottom: 4vw;
  }

  .p-box {
    padding-left: 10.36vw;
  }

  .p-text {
    width: 38.8vw;
  }

  .p-connection-box {
    padding-bottom: 3.07vw;
  }

  .p-collaboration-box {
    padding-top: 3.07vw;
    padding-bottom: 2.8vw;
  }

  /* Rules for main desktop Part_2*/

  .action-card-item:nth-child(even) .action-text-block{
    padding-right: 6.56vw;
  }

  .action-card-image-block {
    width: 50%;
    height: 38.02vw;
  }

  .action-index-box {
    width: 8.75vw;
    height: 8.07vw;
    margin-top: 10.98vw;
    margin-right: auto;
    margin-left: auto;
  }

  .action-index {
    font-size: 1.25vw;
  }

  .action-index::after {
    width: 1.25vw;
    height: 0.26vw;

    border-radius: 0.1vw;
  }

  .action-text-block {
    width: 33.6vw;
    padding-left: 6.56vw;
    padding-top: 12vw;
  }

  .action-description {
    margin-top: 4.5vw;

    font-size: 1.25vw;
  }

  /* Rules for footer desktop */

  .footer {
    padding-top: 11.92vw;
    padding-bottom: 2.7vw;
  }

  .footer-logo-container {
    width: 6.77vw;
    height: 7.13vw;

    border-radius: 1.69vw;
  }

  .surface-logo-icon {
    width: 5.52vw;
  }

  .footer-text-box {
    padding-left: 1.82vw;
  }

  .footer-title {
    font-size: 4.16vw;
  }

  .footer-tagline {
    font-size: 1.56vw;
  }

  .basement-buttons {
    margin-top: 7.86vw;
    margin-bottom: 13.64vw;
  }
}


/* Rules for high resolution */


@media (min-width: 1921px) {

/* Rules for header hr */

  .header {
    padding-top: 45px;
    padding-bottom: 110px;
  }

  .surface-logo-text-icon {
    width: 191px;
    height: 52px;
  }

  .tagline-container {
    width: 1529px;
    margin-top: 296px;

    font-size: 90px;
  }

  .mobile-stores-container {
    margin-top: 223px;
  }

  .button-group {
    width: 311px;
    height: 77px;
    justify-content: center;

    border-radius: 36px;

    box-shadow: 0 16px 24px 0 rgba(10, 14, 52, 1);
  }

  .appstore-group {
    margin-right: 50px;
  }

  .appstore-icon {
    width: 42px;
    height: 48px;
    margin-right: 25px;
  }

  .googleplay-icon {
    width: 40px;
    height: 50px;
    margin-right: 29px;
  }

  .button-text {
    font-size: 14px;
    line-height: 14px;
  }

  .name-store {
    margin-top: 7px;
  }

  /* Rules for main hr Part_1*/

  .first-participant-card, .second-participant-card {
    padding-top: 116px;
  }

  .first-participant-image {
    top: 27px;

    align-self: center;
    padding-right: 765px;
    padding-left: 201px;
  }

  .footballer-pic {
    width: 566px;
  }

  .a-title-box, .a-text {
    width: 713px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 817px;
  }

  .a-title-box {
    margin-bottom: 109px;
    justify-content: flex-start;
  }

  .a-card-title, .p-card-title, .action-title {
    font-size: 80px;
  }

  .connection-box {
    padding-bottom: 59px;
  }

  .collaboration-box, .growth-box, .p-growth-box {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .quantity-index, .p-quantity-index {
    font-size: 18px;
  }

  .quantity-index::after, .p-quantity-index::after {
    width: 19px;
    height: 5px;

    border-radius: 2px;
  }

  .feature-name {
    margin-left: 14px;

    font-size: 36px;
  }

  .feature-text {
    margin-top: 30px;

    font-size: 20px;
  }

  .second-participant-image {
    top: 28px;

    align-self: center;
    padding-left: 690px;
  }

  .basketballer-pic {
    width: 991px;
  }

  .p-title-box, .p-text {
    width: 743px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 786px;
  }

  .p-title-box {
    margin-bottom: 110px;
    justify-content: flex-start;
  }

  .p-text {
    width: 743px;
  }

  .p-connection-box {
    padding-bottom: 60px;
  }

  .p-collaboration-box {
    padding-top: 59px;
    padding-bottom: 88px;
  }

  /* Rules for main hr Part_2*/

  .action-card-item {
    width: 1920px;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
  }

  .action-card-item:nth-child(even) .action-text-block{
    padding-right: 129px;
  }

  .action-card-image-block {
    width: 50%;
    height: 730px;
  }

  .action-index-box {
    width: 168px;
    height: 155px;
    margin-top: 211px;
    margin-right: auto;
    margin-left: auto;
  }

  .action-index {
    font-size: 24px;
  }

  .action-index::after {
    width: 24px;
    height: 5px;

    border-radius: 2px;
  }

  .action-text-block {
    width: 641px;
    padding-left: 126px;
    padding-top: 263px;
  }

  .action-description {
    margin-top: 110px;

    font-size: 24px;
  }

  /* Rules for footer hr */

  .footer {
    padding-top: 229px;
    padding-bottom: 52px;
  }

  .footer-logo-container {
    width: 130px;
    height: 137px;

    border-radius: 35px;
  }

  .surface-logo-icon {
    width: 106px;
  }

  .footer-text-box {
    padding-left: 36px;
  }

  .footer-title {
    font-size: 80px;
  }

  .footer-tagline {
    font-size: 30px;
  }

  .basement-buttons {
    margin-top: 151px;
    margin-bottom: 262px;
  }
}


/* General rules for desktop and resolution 1921px> */


@media (min-width: 961px) {
  .header::after {
    background-image: url("../img/football_1920.jpg");
  }

  .phrase-2 {
    align-self: flex-end;
  }

  .action-card-item {
    flex-direction: row;
  }

  .action-card-item:nth-child(even) .action-card-image-block {
    order: 1;
  }

  .action-card-item:nth-child(even) {
    justify-content: flex-end;
  }

  .action-card-pic {
    width: 100%;
    height: inherit;
  }

  .footer::after {
    background-image: url("../img/game_1920.jpg");
  }

  .download-container {
    flex-direction: row;
  }

  .footer-text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
